.sweets-card {
	gap: 15px;
	transition: 0.2s ease-in-out;
	font-weight: 900;
}
.sweets-card > p {
	text-justify: inter-word;
}

.sweets-card:hover {
	transform: scale(1.04);
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.products-nav .navbar-nav .nav-item.active > .nav-link {
	color: rgb(21, 17, 17);
	font-weight: 700;
}

.snaks-banner {
	/* width: 100%; */
	width: 100%;
	height: 100vh;
	background-image: url("../img/banners/Snacks_banner_web.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.cookies-banner {
	width: 100%;
	height: 100vh;
	background-image: url("../img/banners/Cookie_banner_web.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.sweets-banner {
	width: 100%;
	height: 100vh;
	background-image: url("../img/banners/Gulab_jamun_Banner_web.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.namkeens-banner {
	width: 100%;
	height: 100vh;
	background-image: url("../img/banners/Namkeen_Banner_web.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 480px) {
	.snaks-banner {
		width: 100%;
		height: 50vh;
		background-image: url("../img/banners/Snacks_banner_mob.jpg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.cookies-banner {
		width: 100%;
		height: 50vh;
		background-image: url("../img/banners/Cookie_banner_mob.jpg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.sweets-banner {
		width: 100%;
		height: 50vh;
		background-image: url("../img/banners/Gulab_jamun_banner_mobile.jpg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.namkeens-banner {
		width: 100%;
		height: 50vh;
		background-image: url("../img/banners/Namkeen_Banner_mob.jpg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.snaks-banner {
		/* width: 100%; */
		width: 100%;
		height: 40vh;
		background-image: url("../img/banners/Snacks_banner_web.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.cookies-banner {
		width: 100%;
		height: 40vh;
		background-image: url("../img/banners/Cookie_banner_web.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.sweets-banner {
		width: 100%;
		height: 40vh;
		background-image: url("../img/banners/Gulab_jamun_Banner_web.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.namkeens-banner {
		width: 100%;
		height: 40vh;
		background-image: url("../img/banners/Namkeen_Banner_web.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
